/* === Home Page Styles === */


.container-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 6rem auto 6rem;
  gap: 6rem;
}

.home-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0 auto auto;
  justify-content: space-around;
}

.home-container h1 {
  text-align: left;
  font-size: 4rem;
  margin: 0;
}

.home-container h2 {
  text-align: left;
  font-size: 2rem;
  margin: 0;
}

.img-block {
  margin: 0 !important;
  height: auto;
  width: 100%;
}

#home-img {
  margin: auto !important;
  aspect-ratio: 10 / 1;
  width: 100% !important;
  height: auto !important;
}

.text-block {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  width: 80%;
  background-color: #e0e0e0;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-block h1 {
  margin: 0 0 0 1rem;
}

.text-block p {
  text-align: justify;
  hyphens: auto;
  width: 95%;
  margin: 1rem 1.5rem 1rem auto;
  line-height: 1.5;
}

/* === Home Mobile Styles === */
@media screen and (max-width: 768px) {
  .home-container {
    grid-template-columns: auto;
    height: auto;
    flex-direction: column;
  }

  .home-content {
    text-align: center;
    margin-bottom: 1rem;
  }

  .home-container h1 {
    font-size: 3rem;
  }

  .home-container h2 {
    font-size: 2.5rem;
  }

  .home-img {
    width: 80%;
    margin: 0 auto;
  }

  #home-img {
    width: 100%;
    height: auto;
  }
}