.home-container {
    display: flex;
    align-items: center; /* vertical centering */
    gap: 2rem; /* space between text and image */
    margin: 2rem auto;
    justify-content: space-around;


}

.home-container h1 {
    text-align: left;
    font-size: 4rem;
    margin: 0;
}

.home-container h2 {
    text-align: left;
    font-size: 2rem;
    margin: 0;
}

.home-img{
    background-color: #e0e0e0; /* light grey */
    padding: 1rem;
    border-radius: 1rem; /* round corners */
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

#home-img {
    width: auto;
    height: 40rem;
    display: block;
}