.impressum {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.wrapper {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    border-radius: 1rem;
}

.imp-cont-e {
    display: flex; /* Flexbox für horizontale Ausrichtung */
    align-items: center; /* Vertikale Zentrierung der Elemente */
    gap: 1rem; /* Abstand zwischen dem Label und dem Inhalt */
}